<section>
    <header class="head">
        <img class="head_logo" src="assets/img/logo.png" alt="Logo">
        <h1 class="nombrepagina">PhotoAcademy</h1>
        <nav class="head_nav">
            <div class="bars_menu">
                <span class="line1_bars_menu"></span>
                <span class="line2_bars_menu"></span>
                <span class="line3_bars_menu"></span>
            </div>  
            <ul class="menu_items">
                <li class="head_link"><a href="#">Inicio</a></li>
                <li class="head_link"><a href="#">Precios</a></li>
                <li class="head_link"><a href="#">Ingresa</a></li>
                <li class="head_link"><button>Registrate gratis</button><a href="#"></a></li>
            </ul>                  
        </nav>
    </header>
</section>
