
<section class="Social__container">
    <div class="Social__contenido">
      <h2 class="Social__titulo">No solo te mostramos excelentes fotografías <br>¡te enseñamos cómo hacerlo!</h2>
      <p class="Social__texto">Aclare la confusión y cree imágenes sorprendentes con una <br>enseñanza profesional estructurada.</p>
      <a href="#" class="tarjetas__boton--contactanos tarjetas__boton--contactanos boton">Contactanos</a>
      <img src="assets/img/social.png" alt="Imagen Social Fotografia" class = "Social__img">
    </div>
  </section>