            <section class="login__container">
                <div class="login__principal">
                <p class="login__pictagram__titulo"><img src="assets/img/logo_login.png" alt="" class="login__logo__image">PhotoAcademy</p>
                <img  src="assets/img/contactanos-ilustracion.webp" alt="" class="login__image">
                </div>
            
                <div class="log__in">
                <h2 class="login__titulo">Contáctanos</h2>
                <div class="form">
                    <form class="login-form">
                    <input class="caja__email" type="text" placeholder="Email"/>
                    <input  class="caja__mensaje" type="Menssage" placeholder="Mensaje"/>
                    <button class="caja__button" onclick="myMessage()">Enviar</button>
                    <p class="message">Company/organization <a href="#">PhotoAcademy</a></p>
                    </form>
                </div>
                </div>  
            </section>