<section  class="Escuela__en__linea__container">
    <div class="Escuela__en__linea__left">
      <img src="assets/img/online_school.svg" alt="Imagen de escuela en linea" class = "Escuela__en__linea_img">
    </div>
    <div class="Escuela__en__linea">
      <h2 class="Escuela__en__linea__titulo">Escuela en linea</h2>
      <p class="Escuela__en__linea__texto">Enseñamos fotografía desde 2002. Nuestros <br> diseños están para llevar a los principiantes a un nivel <br> avanzado o llenar los vacíos que pueda tener en la fotógrafia <br> y ser más experimentados.</p>
      <a href="#" class="tarjetas__boton tarjetas__boton--more boton">Ver mas sobre</a>
    </div>