<section class="film">
    <div class="text">
            <h1 class= "film_titulo">Aprende a crear contenido</h1>
            <p class="film_text"> A lo largo de las unidades, aprenderás cómo crear contenidos <br> visuales para publicarlos en las redes sociales, teniendo <br>en cuenta técnicas de composición, escenografía y dirección. </p>
            <a class="film_button boton">Ver más cursos </a>
    </div>
    <div class="film__container">
    <img src="assets/img/film.svg" alt="imagen film" class="image-film">
    </div>
</section>