<footer>
 <hr>
 <div class="foonter__Lista">
  <ul class="footer__social">
    <li><a href="#" class="footer__media"><img src="assets/img/facebook.svg" alt="Ícono de Facebook"></a></li>
    <li><a href="#" class="footer__media"><img src="assets/img/instagram.svg" alt="Ícono de Instagram"></a></li>
    <li><a href="#" class="footer__media"><img src="assets/img/twitter.svg" alt="Ícono de Twitter"></a></li>
    <li><a href="#" class="footer__media"><img src="assets/img/linkedin.svg" alt="Ícono de linkedin"></a></li>
    <li><a href="#" class="footer__media"><img src="assets/img/pinterest.svg" alt="Ícono de Pinterest"></a></li>
  </ul>
  <p class="Derechos__Reservados">2003-2022 All Rights Riserved</p>
 </div>
</footer>    